// Vendors
@import "vendor";

//! utilities / helpers
@import "utils/mixins";
@import "utils/variables";

//! setup
@import "setup/normalize";    // normalize browsers to make more consistent
@import "setup/clearfix";     // clearfix for floats
@import "setup/border-box";   // global border-box setting

//! Gloabal _base Styles
@import "typography";
@import "globals";
@import "headings";

// Layout
@import "layout/features";
@import "layout/demo_index";

footer {
  background-color: darkslateblue;
  color: $color-black;
  font-family: $font-family-roboto-sans-serif;
}

.nav-link{
  font-family: $font-family-roboto-mono;
}

.features-p {
  max-width: 85vh;
  margin: 0 auto;
}

span {
  margin: .6em;
  display: inline-block;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.test-labelle {
  font-family: $font-family-la-belle-cursiv;
  font-weight: 400;
}

html, body, .block {
  height: 100%;
}

// Class for when element is above threshold
.pin-top {
  position: relative;
}

// Class for when element is below threshold
.pin-bottom {
  position: relative;
}

// Class for when element is pinned
.pinned {
  position: fixed !important;
}
